/* 헤더 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--mainColor);
  z-index: 10;
}

.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.header .logo-img {
  width: 12.5rem;
  height: 3.5rem;
}

/* 배너 */
.banner {
  position: relative;
  margin: 9rem 0 0;
  color: #fff;
}

.banner .banner-list {
  display: flex;
  background: var(--mainColor);
  white-space: nowrap;
  overflow: hidden;
}

.banner .banner-list li {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 0;
  padding-top: calc(900 / 1920 * 100%);
  box-sizing: border-box;
  transition: transform 0.5s;
}

.banner .banner-list p {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.banner .banner-list strong {
  display: block;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 8.2rem;
  margin: 3rem 0 4rem;
}

.banner .banner-list .banner-full {
  background: url("../assets/banner-img.png") center center / cover no-repeat;
  text-align: center;
}

.banner .banner-list .banner-full .contents {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner .banner-list .banner-talk {
  background: url("../assets/banner-img2.png") calc(100% - 6%) / 40% auto
    no-repeat;
  text-align: left;
}

.banner .banner-list .banner-talk .contents {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
}

.banner .banner-btn-list {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  display: flex;
  gap: 1.2rem;
  z-index: 2;
}

.banner .banner-btn {
  display: block;
  width: 1rem;
  height: 1.4rem;
  border-radius: 1rem;
  background: var(--fontMain);
  cursor: pointer;
}

.banner .banner-btn.active {
  background: #fff;
}

/* 메인 */
.main {
  padding-top: 6rem;
  background: #fff;
}

/* section 공통 */
.section .wrap {
  padding: 8rem 0;
}

.section-title {
  font-weight: 900;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
}

.section-title span {
  font-weight: 500;
}

.shadow-box {
  width: 49rem;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid var(--bgColor);
  border-radius: 3rem;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* section - 공지 */
.ambassador-notice .wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  border: 1px solid var(--borderColor);
  border-radius: 1rem;
  text-align: center;
  padding: 2.6rem 3rem 2.5rem;
  background: var(--bgColor);
}

.ambassador-notice .wrap::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  width: 1rem;
  height: 1rem;
  background: var(--mainColor);
  border-radius: 50%;
}

.ambassador-notice .notice-title {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--mainColor);
}

.ambassador-notice .notice-time {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--fontLightGray);
}

.ambassador-notice .notice-text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

/* section - 위니브 엠버서더 소개 */
.ambassador-intro .intro-title {
  margin-bottom: 7rem;
}

.ambassador-intro .intro-wrap {
  display: flex;
  gap: 10rem;
}

.ambassador-intro .intro-wrap h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 3.2rem;
}

.ambassador-intro .intro-wrap > div {
  flex-basis: 50%;
}

.ambassador-intro .intro-wrap .intro-contents {
  font-size: 2rem;
  line-height: 3.2rem;
}

.ambassador-intro .applicant li {
  display: flex;
}

.ambassador-intro .applicant li::before {
  content: "";
  display: inline-block;
  background: var(--fontMain);
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  margin: 1.2rem 0.8rem 0;
}

/* section - 혜택 */
.ambassador-benefit .benefit-title {
  margin-bottom: 4rem;
}

.ambassador-benefit .benefit-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 20rem);
  gap: 1.2rem;
  text-align: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.ambassador-benefit .benefit-list img {
  width: 100%;
  height: auto;
}

/* section - 활동 안내 */
.ambassador-activity {
  padding: 7.2rem 0 7.4rem;
  background: var(--mainColor);
  color: #fff;
  text-align: center;
}

.ambassador-activity p {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 4rem;
}

/* section - 활동 후기 */
.ambassador-review .review-title {
  margin-bottom: 6rem;
}

.ambassador-review .review-list {
  display: flex;
  gap: 3.2rem;
  padding: 3rem;
  overflow: scroll auto;
}

.ambassador-review .review-list li {
  flex-shrink: 0;
  height: 30rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding: 4rem 4rem 3.6rem;
}

.ambassador-review .review-list .profile {
  display: flex;
  align-items: center;
  margin-bottom: 2.4rem;
}

.ambassador-review .review-list .profile-img {
  width: 8rem;
  height: 8rem;
  border: 3px solid var(--mainColor);
  border-radius: 50%;
  margin-right: 2rem;
}

.ambassador-review .review-list .profile-class {
  display: block;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--fontLightGray);
  margin-bottom: 0.4rem;
}

.ambassador-review .review-list p {
  word-break: normal;
}

/* section - 지난 활동 */
.ambassador-past-activity {
  background: var(--bgColor);
}

.ambassador-past-activity .activity-title {
  margin-bottom: 6rem;
}

.ambassador-past-activity .activity-list {
  display: flex;
  gap: 3.2rem;
  padding: 3rem;
  overflow: scroll auto;
}

.ambassador-past-activity .activity-list li {
  flex-shrink: 0;
  height: 52rem;
  border: none;
}

.ambassador-past-activity .activity-info {
  padding: 4rem 4rem 3.2rem;
}

.ambassador-past-activity .activity-info > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3.2rem;
}

.ambassador-past-activity .activity-info p {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.ambassador-past-activity .thumbnail {
  padding: 6rem 7.2rem 0;
  background: var(--mainColor);
}

.ambassador-past-activity .thumbnail img {
  width: 100%;
  border-radius: 1rem;
}

/* 푸터 */
.footer {
  background: #fff;
  padding: 10rem 0 20.8rem;
}

.footer .footer-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 10rem;
}

.footer .weniv-greeting {
  flex-shrink: 0;
  margin-bottom: 16.2rem;
}

.footer .weniv-greeting h2 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  margin-bottom: 3.2rem;
}

.footer .weniv-greeting p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.footer .weniv-greeting p > strong {
  display: block;
  font-weight: 700;
}

.footer .link-list {
  flex-shrink: 0;
  display: grid;
  width: 60%;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
}

.footer .link-list a {
  position: relative;
  display: block;
  background: linear-gradient(81.13deg, #2e6ff2 -35.88%, #5c8ef2 123.72%);
  color: #fff;
  padding: 9.8rem 0 0 4rem;
  border-radius: 3rem;
  box-sizing: border-box;
  height: 100%;
  font-size: 2rem;
  line-height: 3.2rem;
}

.footer .link-list a > span {
  display: flex;
  align-items: center;
}

.footer .link-list a > span::after {
  content: "";
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: url("../assets/icon/icon-diagonal-arrow.svg") no-repeat 50% /
    cover;
  margin-left: 0.8rem;
}

.footer .link-list a::before {
  content: "";
  position: absolute;
  right: 3rem;
  top: 3rem;
  width: 4rem;
  height: 4rem;
  background: url("../assets/icon/icon-Home.svg") no-repeat center / cover;
}

.footer .link-list a.inflearn::before {
  background: url("../assets/icon/icon-infrean.svg") no-repeat center / cover;
}

.footer .link-list a.instagram::before {
  background: url("../assets/icon/icon-insta.svg") no-repeat center / cover;
}

.footer .link-list a.naver::before {
  background: url("../assets/icon/icon-naver.svg") no-repeat center / cover;
}

.footer .btn-apply {
  position: absolute;
  bottom: 10rem;
}

.footer .copyrigt {
  text-align: center;
  padding-top: 6rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--fontGray);
}

.top-btn {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 3rem;
  width: 5rem;
  height: 5rem;
  background: rgba(141, 146, 153, 0.9) url("../assets/icon/icon-up-arrow.svg")
    no-repeat center / 3.2rem 3.2rem;
  border-radius: 50%;
}

.top-btn.active {
  display: block;
}

/* 미디어쿼리 */
@media (min-width: 1920px) {
  .banner .banner-list li {
    padding-top: calc(900 / 3840 * 100%);
  }

  .banner .banner-list .banner-full {
    background: url("../assets/banner-3840.png") center center / cover no-repeat;
  }

  .banner .banner-list .banner-talk {
    background: url("../assets/banner-img2.png") calc(100% - 30%) / 20% auto
      no-repeat;
  }

  .banner .banner-list .banner-talk .contents {
    left: 25%;
  }
}

@media (max-width: 1280px) {
  .shadow-box {
    width: 38rem;
  }

  /* 배너 */
  .banner .banner-list p {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .banner .banner-list strong {
    font-size: 4.4rem;
    line-height: 6.2rem;
    margin: 2rem 0 3rem;
  }

  /* section - 공지 */
  .ambassador-notice .wrap {
    justify-content: flex-start;
    text-align: left;
  }

  /* section - 위니브 엠버서더 소개 */
  .ambassador-intro .intro-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .ambassador-intro .intro-wrap > div {
    flex-basis: 100%;
  }

  /* section - 혜택 */
  .ambassador-benefit .benefit-list {
    grid-template-columns: repeat(auto-fit, 16rem);
  }

  /* section - 활동 후기 */
  .ambassador-review .review-list {
    gap: 2.6rem;
  }

  .ambassador-review .review-list li {
    padding: 3rem;
  }

  .ambassador-review .review-list .profile {
    margin-bottom: 2rem;
  }

  .ambassador-review .review-list .profile-img {
    width: 6rem;
    height: 6rem;
    margin-right: 1.2rem;
  }

  /* section - 지난 활동 */
  .ambassador-past-activity .activity-list {
    gap: 2.6rem;
  }

  .ambassador-past-activity .activity-list li {
    height: 44rem;
  }

  .ambassador-past-activity .activity-info {
    padding: 3rem 3rem 1.6rem;
  }

  .ambassador-past-activity .activity-info > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
    margin-bottom: 1.6rem;
  }

  .ambassador-past-activity .activity-info p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .ambassador-past-activity .thumbnail {
    padding: 3.3rem 4rem 0;
  }

  /* 푸터 */
  .footer {
    padding: 5rem 0 20rem;
  }

  .footer .footer-top {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding-bottom: 15rem;
  }

  .footer .weniv-greeting {
    margin-bottom: 4rem;
  }

  .footer .link-list {
    width: 100%;
  }

  .footer .link-list a {
    padding: 2rem 2.8rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .footer .link-list a > span::after {
    width: 2rem;
    height: 2rem;
  }

  .footer .link-list a::before {
    right: 2.4rem;
    top: 50%;
    width: 3rem;
    height: 3rem;
    transform: translateY(-50%);
  }

  .footer .btn-apply {
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  /* 배너 */
  .banner .banner-list p {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }

  .banner .banner-list strong {
    font-size: 2.4rem;
    line-height: 3.4rem;
    margin: 1.6rem 0 2rem;
  }

  .main {
    padding-top: 3rem;
  }

  /* section 공통 */
  .section .wrap {
    padding: 4rem 0;
  }

  .section-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }

  .shadow-box {
    width: 27rem;
  }

  /* section - 공지 */
  .ambassador-notice .wrap {
    gap: 1.2rem 1.4rem;
    padding: 3rem;
  }

  .ambassador-notice .wrap::after {
    top: 1.6rem;
    right: 1.6rem;
  }

  /* section - 위니브 엠버서더 소개 */
  .ambassador-intro .intro-title {
    margin-bottom: 5rem;
  }

  .ambassador-intro .intro-wrap {
    gap: 4rem;
  }

  .ambassador-intro .intro-wrap h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }

  .ambassador-intro .intro-wrap > div {
    flex-basis: 100%;
  }

  .ambassador-intro .intro-wrap .intro-contents {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  /* section - 혜택 */
  .ambassador-benefit .benefit-title {
    margin-bottom: 3.2rem;
  }

  .ambassador-benefit .benefit-list {
    grid-template-columns: repeat(auto-fill, 12rem);
    padding: 0;
  }

  /* section - 활동 안내 */
  .ambassador-activity {
    padding: 4rem 0;
  }

  .ambassador-activity p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
  }

  /* section - 활동 후기 */
  .ambassador-review .review-title {
    margin-bottom: 4rem;
  }

  .ambassador-review .review-list {
    gap: 2rem;
  }

  .ambassador-review .review-list li {
    height: 33.2rem;
  }

  .ambassador-review .review-list p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }

  /* section - 지난 활동 */
  .ambassador-past-activity .activity-title {
    margin-bottom: 4rem;
  }

  .ambassador-past-activity .activity-list {
    gap: 2rem;
  }

  .ambassador-past-activity .activity-list li {
    height: 35.8rem;
  }

  /* 푸터 */
  .footer .weniv-greeting h2 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 3.2rem;
  }

  .footer .link-list {
    grid-template-columns: 1fr;
    gap: 1.4rem;
  }

  .footer .copyrigt {
    padding-top: 3.2rem;
  }
}

@media (max-width: 550px) {
  .header .wrap {
    padding: 1.5rem 0;
  }

  .banner {
    margin: 7rem 0 0;
  }

  .header .btn-apply,
  .banner .btn-apply {
    width: 10rem;
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .banner .banner-btn-list {
    bottom: 1rem;
  }

  .banner .banner-list p {
    display: none;
  }

  .banner .banner-list strong {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 0 0 1.4rem;
  }
}
